Package: com.joemerlino.spotifyalarm
Name: SpotAlarm
Depends: mobilesubstrate, firmware (>= 8.0)
Version: 0.0.1
Architecture: iphoneos-arm
Description: Wakes you up with your favourite Spotify song.
Maintainer: Joe Merlino
Author: Joe Merlino
Section: Tweaks
