Package: com.joemerlino.spotifyalarm
Name: SpotifyAlarm
Depends: mobilesubstrate, firmware (>= 8.0)
Architecture: iphoneos-arm
Description: Wakes you up with your favourite Spotify song.
Maintainer: Joe Merlino
Author: Joe Merlino
Section: Tweaks
Version: 0.0.1-1
Installed-Size: 264
